@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --deep-espresso: #1a0f0aff;
  --cream-paper: #fdfaf7ff;
  --cinematic-gold: #d4af37ff;
  --charcoal-black: #121212ff;

  --coffee-bean: #7f5539ff;
  --camel: #a68a64ff;
  --almond-cream: #ede0d4ff;
  --dusty-olive: #656d4aff;
  --ebony: #414833ff;
  --clay-soil: #743d2bff;
  --apricot-cream: #ffdbacff;
  --cinnamon-wood: #b06c49ff;

  --dark-walnut: #582f0eff;
  --saddle-brown: #7f4f24ff;
  --toffee-brown: #936639ff;
  --khaki-beige: #b6ad90ff;
  --dry-sage: #c2c5aaff;
  --dry-sage-2: #a4ac86ff;
  --charcoal-brown: #333d29ff;
}

@layer base {
  :root {
    --background: 24 38% 36%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  body {
    @apply bg-[#0a0a0a] text-[#fdfaf7] antialiased overflow-x-hidden;
  }
}

@layer utilities {

  /* -------- coffee_bean -------- */
  .coffee-100 {
    background-color: #19110b;
  }

  .coffee-500 {
    background-color: #7f5539;
  }

  .text-coffee-500 {
    color: #7f5539;
  }

  /* -------- camel -------- */
  .camel-500 {
    background-color: #a68a64;
  }

  .text-camel-500 {
    color: #a68a64;
  }

  /* -------- almond_cream -------- */
  .almond-500 {
    background-color: #ede0d4;
  }

  .text-almond-500 {
    color: #ede0d4;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  border-radius: 10px;
  border: 1px solid rgba(212, 175, 55, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: #d4af37;
}

/* Cinematic Utilities */
.text-mask-reveal {
  -webkit-text-stroke: 1px rgba(253, 250, 247, 0.1);
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, #fdfaf7 0%, rgba(253, 250, 247, 0) 100%);
  -webkit-background-clip: text;
}